n8n/Lecture Flux RSS - Axe Outils.json
{
  "name": "Lecture Flux RSS - Axe Outils",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 8 * * 1"
            }
          ]
        }
      },
      "id": "06bb367f-fa92-4d18-8d05-6733a3bf8378",
      "name": "Déclencheur Lundi 8h",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1,
      "position": [
        -416,
        32
      ]
    },
    {
      "parameters": {
        "url": "={{ $json.url }}",
        "options": {}
      },
      "id": "077ec002-f60b-4b19-86db-7ed65703e79d",
      "name": "Lecture Flux RSS",
      "type": "n8n-nodes-base.rssFeedRead",
      "typeVersion": 1,
      "position": [
        240,
        144
      ],
      "executeOnce": false
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        0,
        32
      ],
      "id": "73576ec8-3b20-4354-95f5-348f92c1237e",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        624,
        48
      ],
      "id": "faf5177f-21e7-48a9-99e8-f8f4737472be",
      "name": "Merge"
    },
    {
      "parameters": {
        "operation": "upsert",
        "table": {
          "__rl": true,
          "value": "axe_outils",
          "mode": "list",
          "cachedResultName": "axe_outils"
        },
        "dataMode": "defineBelow",
        "columnToMatchOn": "link",
        "valueToMatchOn": "={{ $json.link }}",
        "valuesToSend": {
          "values": [
            {
              "column": "pub_date",
              "value": "={{ $json.pubDate }}"
            },
            {
              "column": "title",
              "value": "={{ $json.title }}"
            },
            {
              "column": "pub_date",
              "value": "={{ $json.pubDate }}"
            },
            {
              "column": "content",
              "value": "={{ $json.content }}"
            },
            {
              "column": "source_name",
              "value": "={{ $json.source_name }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.5,
      "position": [
        736,
        304
      ],
      "id": "69850eba-3b6c-4049-a9a6-29dc2bae228a",
      "name": "Insert or update rows in a table",
      "credentials": {
        "mySql": {
          "id": "WyTuINRgDZUcXSyp",
          "name": "MySQL account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "return [\n  { url: \"https://outilstice.com/feed/\" },\n  { url: \"https://www.uneiaparjour.fr/category/quiz/feed/\" },\n  { url: \"https://www.uneiaparjour.fr/category/education/feed/\" },\n  { url: \"https://www.youtube.com/feeds/videos.xml?channel_id=UCMJ00y5KeFDKzYh9D6Lc41A\" },\n  { url: \"https://www.educatorstechnology.com/category/ai-in-education/ai-tools-for-teachers/feed\" }\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -208,
        32
      ],
      "id": "94f971f2-2fec-4f31-94a3-1613a3d4f9a4",
      "name": "Liste des sources - flux RSS"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "28cd0244-60c4-4d4f-934d-e4134e58fc22",
              "name": "source_name",
              "value": "={{ $('Loop Over Items').item.json.url }}",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        448,
        240
      ],
      "id": "294f293f-7325-4da4-bdb7-4ccf7fff466a",
      "name": "Ajout du nom de la source à l'article"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=\"Tu es un expert en données. Reçois la date suivante : {{ $json.pubDate }}.\nTa mission est de la convertir au format SQL DATETIME strict : YYYY-MM-DD HH:mm:ss.\nSi l'heure est manquante, utilise 00:00:00. Ne réponds QUE par la date formatée, sans texte additionnel.\"",
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.9,
      "position": [
        272,
        -176
      ],
      "id": "9b5384dd-9d5a-4a98-8dce-a8b512f3b3e9",
      "name": "Normalisation des dates"
    },
    {
      "parameters": {
        "model": "qwen3:8b",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOllama",
      "typeVersion": 1,
      "position": [
        272,
        -16
      ],
      "id": "51ff89d0-93a0-492c-bd94-aecd658fb1c2",
      "name": "Ollama Chat Model",
      "credentials": {
        "ollamaApi": {
          "id": "Sx2FwabeXED9D21V",
          "name": "Ollama account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "abde5ec1-4064-4f4c-b535-abff4f466b76",
              "name": "pubDate",
              "value": "={{ $json.text }}",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "include": "except",
        "excludeFields": "text",
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        816,
        48
      ],
      "id": "9cf66ca5-9d22-46dd-b2b4-0c33182b70b6",
      "name": "Préparation des données pour la BDD"
    }
  ],
  "pinData": {},
  "connections": {
    "Déclencheur Lundi 8h": {
      "main": [
        [
          {
            "node": "Liste des sources - flux RSS",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Lecture Flux RSS": {
      "main": [
        [
          {
            "node": "Ajout du nom de la source à l'article",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [
          {
            "node": "Normalisation des dates",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ],
        [
          {
            "node": "Lecture Flux RSS",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Préparation des données pour la BDD",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Insert or update rows in a table": {
      "main": [
        []
      ]
    },
    "Liste des sources - flux RSS": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Ajout du nom de la source à l'article": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalisation des dates": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Ollama Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Normalisation des dates",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Préparation des données pour la BDD": {
      "main": [
        [
          {
            "node": "Insert or update rows in a table",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "e4684b9a-abc3-4a4e-a24d-0a206cce5913",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "116cf0ca1c1cf232ab6b902f8e6bd446ea6d1d62ba97ade3d6b42bf20b3eca31"
  },
  "id": "Kd28IPqjuDsyTovx",
  "tags": []
}