n8n/Webhook Newsletter.json
{
  "name": "Webhook Newsletter",
  "nodes": [
    {
      "parameters": {
        "fieldsToAggregate": {
          "fieldToAggregate": [
            {
              "fieldToAggregate": "title"
            },
            {
              "fieldToAggregate": "link"
            },
            {
              "fieldToAggregate": "source_name"
            },
            {
              "fieldToAggregate": "pub_date"
            },
            {
              "fieldToAggregate": "axe"
            },
            {
              "fieldToAggregate": "text",
              "renameField": true,
              "outputFieldName": "summary_ai"
            }
          ]
        },
        "options": {
          "includeBinaries": true
        }
      },
      "id": "5529e774-cf24-4197-b42e-f481453f6551",
      "name": "Agrégation",
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        1424,
        -80
      ]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=\"Voici le texte brut extrait d'une page web :\n{{ $json.article_text }}\n\nRédige un résumé en français de 3 phrases maximum.\n\n    La première phrase doit résumer l'information principale (ex: 'L'Allemagne publie un rapport sur...').\n\n    La deuxième phrase doit expliquer pourquoi c'est important pour un enseignant ou une école.\n\n    La troisième phrase doit être une invitation à la réflexion ou un conseil pratique.\n\nIMPORTANT : Réponds uniquement par le résumé, sans phrases d'introduction comme 'Voici le résumé'.\"",
        "messages": {
          "messageValues": [
            {
              "message": "\"Tu es un expert en technologie éducative pour le Secondaire II. Ton rôle est d'analyser le contenu d'un article pour en extraire l'essentiel de manière pédagogique.\""
            }
          ]
        },
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.9,
      "position": [
        816,
        176
      ],
      "id": "e31ccbc7-b2fa-4af5-b70f-2a46e82d515b",
      "name": "Basic LLM Chain",
      "executeOnce": false
    },
    {
      "parameters": {
        "model": "qwen3:8b",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOllama",
      "typeVersion": 1,
      "position": [
        944,
        416
      ],
      "id": "e7f10fbe-62e4-4d0e-a0d2-86a86804e4b2",
      "name": "Ollama Chat Model",
      "credentials": {
        "ollamaApi": {
          "id": "Sx2FwabeXED9D21V",
          "name": "Ollama account"
        }
      }
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "selection-newsletter",
        "responseMode": "responseNode",
        "options": {
          "allowedOrigins": "*"
        }
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -224,
        -16
      ],
      "id": "c3d2e3d5-9fda-459e-8e93-3e887fd2f968",
      "name": "Webhook",
      "webhookId": "f8dad534-0a57-40ba-8779-6ea38aad859c"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "{\n  \"status\": \"success\",\n  \"message\": \"La newsletter a été générée et envoyée avec succès, et la base de données a été mise à jour.\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        2064,
        -80
      ],
      "id": "2f673f9d-6643-49e2-8d70-1cd0d4628258",
      "name": "Respond to Webhook"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT id, title, link, content, source_name, pub_date \nFROM {{ $json.axe }} \nWHERE id = {{ $json.id }};",
        "options": {}
      },
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.5,
      "position": [
        208,
        -144
      ],
      "id": "03667c53-934c-497e-9a8a-40965437a6b3",
      "name": "Execute a SQL query",
      "credentials": {
        "mySql": {
          "id": "WyTuINRgDZUcXSyp",
          "name": "MySQL account"
        }
      }
    },
    {
      "parameters": {
        "fieldToSplitOut": "body",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        -16,
        -16
      ],
      "id": "5e08bee8-8bda-44d4-8be4-a0ca0cca3a43",
      "name": "Split Out"
    },
    {
      "parameters": {
        "url": "={{ $json.link }}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "text"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        432,
        176
      ],
      "id": "7906b6cc-b335-4896-8225-ff32f4825e25",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "operation": "extractHtmlContent",
        "extractionValues": {
          "values": [
            {
              "key": "article_text",
              "cssSelector": "body"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.html",
      "typeVersion": 1.2,
      "position": [
        624,
        176
      ],
      "id": "13431b1e-7049-4ffc-983e-14039ce45053",
      "name": "HTML"
    },
    {
      "parameters": {
        "jsCode": "const input = items[0].json;\n\n// Reconstitution des articles à partir de l'agrégateur\nconst articles = input.title.map((t, index) => ({\n    title: t,\n    link: input.link[index],\n    source_name: input.source_name[index],\n    pub_date: input.pub_date[index],\n    axe: input.axe[index],\n    summary_ai: input.summary_ai ? input.summary_ai[index] : \"Résumé non disponible.\"\n}));\n\n// Configuration visuelle par axe selon les thématiques du projet\nconst axesConfig = {\n    axe_actualite: { label: \"Actualité IA & Enseignement\", color: \"#f97316\" }, // Orange\n    axe_contexte: { label: \"Suisse Romande & Institutions\", color: \"#dc2626\" }, // Rouge\n    axe_legal: { label: \"Cadre Légal & Réglementation\", color: \"#9333ea\" },    // Violet\n    axe_outils: { label: \"Solutions & Outils IA\", color: \"#16a34a\" }           // Vert\n};\n\nlet sectionsHtml = \"\";\n\nfor (const [id, config] of Object.entries(axesConfig)) {\n    const axeArticles = articles.filter(art => art.axe === id);\n    \n    if (axeArticles.length > 0) {\n        sectionsHtml += `\n            <h2 style=\"color: ${config.color}; border-bottom: 2px solid ${config.color}; padding-bottom: 5px; text-transform: uppercase; font-size: 15px; margin-top: 40px; letter-spacing: 1px;\">\n                ${config.label}\n            </h2>`;\n        \n        axeArticles.forEach(art => {\n            sectionsHtml += `\n                <div style=\"margin-bottom: 25px; padding: 15px; border-left: 4px solid ${config.color}; background-color: #ffffff; border-radius: 0 8px 8px 0;\">\n                    <h3 style=\"margin-top: 0; color: #111827; font-size: 18px; line-height: 1.3;\">${art.title}</h3>\n                    <p style=\"font-size: 11px; color: #6b7280; text-transform: uppercase; margin-bottom: 12px;\">Source: ${art.source_name} | ${art.pub_date}</p>\n                    <div style=\"background-color: #f8fafc; padding: 12px; border-radius: 6px; font-style: italic; font-size: 14px; margin: 12px 0; border: 1px solid #e2e8f0; color: #334155; line-height: 1.5;\">\n                        <strong style=\"color: ${config.color};\">Note pédagogique :</strong> ${art.summary_ai}\n                    </div>\n                    <a href=\"${art.link}\" style=\"display: inline-block; background-color: ${config.color}; color: white; padding: 10px 18px; text-decoration: none; border-radius: 5px; font-size: 13px; font-weight: bold;\">Lire l'article complet</a>\n                </div>`;\n        });\n    }\n}\n\nconst finalHtml = `\n<div style=\"font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; max-width: 650px; margin: auto; color: #333; background-color: #f4f4f7; padding: 20px;\">\n    <div style=\"background-color: #1e3a8a; padding: 45px 20px; text-align: center; color: white; border-radius: 12px 12px 0 0;\">\n        <h1 style=\"margin: 0; font-size: 30px; font-weight: 800; letter-spacing: 2px;\">ATHÉNA IA HUB</h1>\n        <p style=\"margin: 10px 0 0; opacity: 0.9; font-size: 16px; font-weight: 300;\">Veille stratégique pour le Secondaire II</p>\n    </div>\n\n    <div style=\"background-color: white; padding: 30px 25px; border-radius: 0 0 12px 12px; box-shadow: 0 4px 15px rgba(0,0,0,0.05);\">\n        <p style=\"color: #4b5563; font-size: 15px; line-height: 1.6;\">Bonjour,<br><br>Voici les ressources clés sélectionnées pour vous cette semaine par l'équipe Athéna.</p>\n        ${sectionsHtml}\n    </div>\n\n    <div style=\"text-align: center; padding: 30px; font-size: 12px; color: #9ca3af; line-height: 1.5;\">\n        Cette veille automatisée est un projet de la Haute École de Gestion de Genève.<br>\n        © 2026 Athéna IA Hub. Tous droits réservés.\n    </div>\n</div>`;\n\nreturn [{ html: finalHtml }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1648,
        -80
      ],
      "id": "17ba97aa-9812-4949-ac08-553a4290e7bc",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "sendTo": "nathan.thai@etu.hesge.ch, muna.ali-kaley@etu.hesge.ch, lea.glassey@etu.hesge.ch, luca.grosso@etu.hesge.ch, morgane.frey@etu.hesge.ch",
        "subject": "Athéna IA Hub : Votre veille hebdomadaire",
        "message": "={{ $json.html }}",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        1856,
        -80
      ],
      "id": "d65a2b79-3dc5-4654-9935-bf54c13fa750",
      "name": "Send a message",
      "webhookId": "24930b89-11ff-4e34-9e5a-ee22ace1ca39",
      "credentials": {
        "gmailOAuth2": {
          "id": "YBC6JaqzW2jyvXnI",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "numberInputs": 3,
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        1152,
        0
      ],
      "id": "e5ed1919-6ac2-4b9b-8018-d0299794225a",
      "name": "Merge"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE {{ $json.axe }} \nSET is_selected = 0 \nWHERE id = {{ $json.id }};",
        "options": {}
      },
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.5,
      "position": [
        1952,
        256
      ],
      "id": "824fdf11-22da-4c49-ba93-fb76351c9cc2",
      "name": "Execute a SQL query1",
      "credentials": {
        "mySql": {
          "id": "WyTuINRgDZUcXSyp",
          "name": "MySQL account"
        }
      }
    },
    {
      "parameters": {
        "mode": "chooseBranch"
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        1712,
        256
      ],
      "id": "c2d247d8-b461-4374-b35a-8b55e1c98d4d",
      "name": "Merge1"
    }
  ],
  "pinData": {},
  "connections": {
    "Agrégation": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Basic LLM Chain": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Ollama Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "Split Out",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute a SQL query": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out": {
      "main": [
        [
          {
            "node": "Execute a SQL query",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge",
            "type": "main",
            "index": 2
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "HTML",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTML": {
      "main": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send a message": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Agrégation",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Respond to Webhook": {
      "main": [
        [
          {
            "node": "Merge1",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge1": {
      "main": [
        [
          {
            "node": "Execute a SQL query1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "c75f3113-c8a5-4946-9043-213a88728758",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "116cf0ca1c1cf232ab6b902f8e6bd446ea6d1d62ba97ade3d6b42bf20b3eca31"
  },
  "id": "pYtQu4e6UcW2MqyN",
  "tags": []
}